html,
body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}
.playfield {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 40px;
}
.question {
    font-size: 2.3vw;
    position: absolute;
    left: 20%;
    top: 5%;
    width: 62%;
}
.question pre {
    margin: 0;
}

.answer {
    font-size: 2.1vw;
    position: absolute;
    left: 22%;
    top: 48%;
    width: 27%;
    z-index: 2;
}
.answer2 {
    left: 56%;
    top: 48%;
}
.answer3 {
    left: 22%;
    top: 75%;
}
.answer4 {
    left: 56%;
    top: 75%;
}

.correct,
.locked {
    display: none;
    position: absolute;
    z-index: 1;
}
.correct {
    z-index: 2;
}
.correct img,
.locked img {
    width: 34vw;
}
.correct1,
.locked1 {
    left: 16.5%;
    top: 44%;
}
.correct2,
.locked2 {
    left: 50%;
    top: 44%;
}
.correct3,
.locked3 {
    left: 16.5%;
    top: 71.2%;
}
.correct4,
.locked4 {
    left: 50%;
    top: 71.2%;
}

.leaderboard {
    padding-left: 20px;
}
.round {
    font-size: 30px;
    position: absolute;
    right: 20px;
    top: 20px;
}
.countdown {
    font-size: 60px;
    position: absolute;
    right: 20px;
    top: 120px;
    color: #f7bc15;
}
.answerboard {
    position: absolute;
    left: 40%;
    top: 00px;
    display: none;
}

.leaders {
    font-size: 20px;
}
.leaders th {
    padding-right: 20px;
}
.leaders td {
    padding-right: 20px;
}

.answers table {
    border-collapse: collapse;
}
.answers td.is-correct {
    background-color: #94d20c;
    color: black;
    padding: 3px;
}
.answers td.is-wrong {
    background-color: #ff5816;
    color: black;
    padding: 3px;
}
.answers .player-answer {
    border-right: 3px solid black;
}
.question-image {
    position: relative;
    top: -90px;
    text-align: center;
}
.question-image img {
    margin: 0 auto;
    max-height: 300px;
}